*{
    margin: 0;
  
}

.box{
    border: 1px solid #ccc;
    height: 180px;
    font-size:  90px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}